@import "tailwindcss";

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
}
@layer components{
  .btn{
    @apply flex items-center space-x-2 bg-[#f6339a] text-white px-6 py-3 rounded-full hover:bg-[#d12c89] cursor-pointer
  }
}
@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
}

@media (prefers-color-scheme: dark) {
  
}


body {
  /* font-family: 'Kepler Std'; */
  background-color: #d8d8d8;
}
/* /* .swiper-slide-custom {
  width: 80% !important;
} */

/* .swiper-slide-prev,
.swiper-slide-next {
  width: 10% !important; 
  opacity: 0.5; 
}  */

@keyframes zoomBounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.animate-zoomBounce {
  animation: zoomBounce 1.5s ease-in-out infinite;
}